<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer_titlle">
                <p class="footer__about-text">O Atêlie Regina Tristão surgiu para satisfazer as necessidades de nossos pequenos recém chegados à este mundo. Presenteie seus pequenos com peças lindas e de ótima qualidade.</p>
            </h2>
        </section>    
        <address class="address">
            <h2 class="footer__title">Visite nossas redes sociais</h2>
            <p class="footer__subtitle">E conheça todo nosso portifólio!</p>
            <ul>                
                <li>
                    <a href="https://www.instagram.com/reginatristaoatelie/">
                        <i class="fa-brands fa-instagram"></i>  
                        Instagram                     
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100004139401862">
                        <i class="fa-brands fa-facebook"></i>
                        Facebook
                    </a>
                </li>            
            </ul>
        </address>        
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>